In [1]:
import json
from dotenv import load_dotenv
from functools import reduce
import numpy as np
import operator
import os
import pandas as pd
import pymongo
from pymongo import MongoClient
import requests

In [2]:
load_dotenv()

True

In [3]:
paris_pg = {'type': 'Point', 'coordinates': [48.87241163769417,2.3317031342524017]}

In [4]:
melbourne_cbd = {'type': 'Point', 'coordinates': [144.96262186884945, -37.81227175879301]}

In [5]:
sao_paulo_zc = {'type': 'Point', 'coordinates': [-46.639408758375076, -23.533215960575276]}

## GEOQUERIES

In [6]:
client = MongoClient("localhost:27017")
db = client.get_database("GeoSpatialProyect")
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'GeoSpatialProyect')

In [7]:
transport = db.get_collection("transport")

In [8]:
gastronomy = db.get_collection("gastronomy")

In [9]:
schools = db.get_collection("schools")

In [10]:
veterinary = db.get_collection("veterinary")

In [11]:
basketball = db.get_collection("basketball")

In [12]:
def geoquering(cathegory, distance, collection, city):
    c = f'{cathegory}'
    cond1 = {'categories.name': c}
    cond2 = {"location": {"$near": {"$geometry": city, "$minDistance": 0 ,"$maxDistance": int(distance)}}}
    
    gquery = {'$and': [cond1, cond2]}
    l = list(collection.find(gquery))
    return l

### PARIS

#### TRANSPORT

In [13]:
airports_p= geoquering('Airport', 20000, transport, paris_pg)

In [14]:
commuter_stations_p = geoquering('Train Station', 2000, transport, paris_pg)

In [15]:
airport_shuttle_p = geoquering('Bus Stop', 2000, transport, paris_pg)

In [16]:
airport_shuttle__p = geoquering('Transportation Service', 2000, transport, paris_pg)

#### SCHOOLS

In [17]:
schools1_p = geoquering('Nursery School', 2000, schools, paris_pg)

In [18]:
schools2_p = geoquering('Elementary School', 2000, schools, paris_pg)

In [19]:
schools3_p = geoquering('High School', 2000, schools, paris_pg)

#### GASTRO

In [20]:
vegan_p = geoquering('Vegetarian / Vegan Restaurant', 2000, gastronomy, paris_pg)

In [21]:
vegan2_p = geoquering('Restaurant', 2000, gastronomy, paris_pg)

In [22]:
vegan3_p = geoquering('Snack Place', 2000, gastronomy, paris_pg)

In [23]:
starbucks_p = geoquering('Coffee Shop', 500, gastronomy, paris_pg)

#### VET

In [24]:
veterinarian_p = geoquering('Veterinarian', 3000, veterinary, paris_pg)

#### BASKET

In [25]:
basketball_court_p = geoquering('Basketball Court', 10000, basketball, paris_pg)

### MELBOURNE

#### TRANSPORT

In [26]:
airports_m = geoquering('Airport', 20000, transport, melbourne_cbd)

In [27]:
commuter_stations_m = geoquering('Train Station', 2000, transport, melbourne_cbd)

In [28]:
airport_shuttle_m = geoquering('Bus Line', 2000, transport, melbourne_cbd)

In [29]:
airport_shuttle__m = geoquering('Transportation Service', 2000, transport, melbourne_cbd)

In [30]:
len(airports_m)

2

In [31]:
len(commuter_stations_m)

7

In [32]:
len(airport_shuttle_m)

1

In [33]:
len(airport_shuttle__m)

0

#### SCHOOLS

In [159]:
schools1_m = geoquering('Nursery', 2000, schools, melbourne_cbd)

In [160]:
schools2_m = geoquering('Elementary School', 2000, schools, melbourne_cbd)

In [161]:
schools3_m = geoquering('High School', 2000, schools, melbourne_cbd)

In [162]:
schools4_m = geoquering('Daycare', 2000, schools, melbourne_cbd)

In [163]:
len(schools1_m)

0

In [164]:
len(schools2_m)

0

In [165]:
len(schools3_m)

0

In [166]:
len(schools4_m)

1

#### GASTRO

In [40]:
vegan_m = geoquering('Vegetarian / Vegan Restaurant', 2000, gastronomy, melbourne_cbd)

In [41]:
vegan2_m = geoquering('Restaurant', 2000, gastronomy, melbourne_cbd)

In [42]:
vegan3_m = geoquering('Snack Place', 2000, gastronomy, melbourne_cbd)

In [43]:
starbucks_m = geoquering('Coffee Shop', 500, gastronomy, melbourne_cbd)

In [44]:
len(vegan_m)

1

In [45]:
len(vegan2_m)

0

In [46]:
len(vegan3_m)

0

In [47]:
len(starbucks_m)

7

#### VET

In [48]:
veterinarian_m = geoquering('Veterinarian', 3000, veterinary, melbourne_cbd)

In [49]:
len(veterinarian_m)

1

#### BASKET

In [50]:
basketball_court_m = geoquering('Basketball Court', 10000, basketball, melbourne_cbd)

In [51]:
len(basketball_court_m)

20

### SAO PAULO

#### TRANSPORT

In [52]:
airports_sp = geoquering('Airport', 20000, transport, sao_paulo_zc)

In [53]:
commuter_stations_sp = geoquering('Train Station', 2000, transport, sao_paulo_zc)

In [54]:
airport_shuttle_sp = geoquering('Bus Line', 2000, transport, sao_paulo_zc)

In [55]:
airport_shuttle__sp = geoquering('Transportation Service', 2000, transport, sao_paulo_zc)

In [56]:
len(airports_sp)

1

In [57]:
len(commuter_stations_sp)

2

In [58]:
len(airport_shuttle_sp)

1

In [59]:
len(airport_shuttle__sp)

0

#### SCHOOLS

In [60]:
schools1_sp = geoquering('Nursery School', 2000, schools, sao_paulo_zc)

In [61]:
schools2_sp = geoquering('Elementary School', 2000, schools, sao_paulo_zc)

In [62]:
schools3_sp = geoquering('High School', 2000, schools, sao_paulo_zc)

In [155]:
len(schools1_sp)

0

In [156]:
len(schools2_sp)

0

In [153]:
len(schools3_sp)

1

#### GASTRO

In [63]:
vegan_sp = geoquering('Vegetarian / Vegan Restaurant', 2000, gastronomy, sao_paulo_zc)

In [64]:
vegan2_sp = geoquering('Restaurant', 2000, gastronomy, sao_paulo_zc)

In [65]:
vegan3_sp = geoquering('Snack Place', 2000, gastronomy, sao_paulo_zc)

In [66]:
starbucks_sp = geoquering('Coffee Shop', 500, gastronomy, sao_paulo_zc)

#### VET

In [67]:
veterinarian_sp = geoquering('Veterinarian', 2000, veterinary, sao_paulo_zc)

#### BASKET

In [68]:
basketball_court_sp = geoquering('Basketball Court', 10000, basketball, sao_paulo_zc)

## GEO DESICIÃ“N

In [105]:
geoqueries_paris = np.array([len(airports_p), len(commuter_stations_p), len(airport_shuttle_p),
                    (len(schools1_p) + len(schools2_p) + len(schools3_p)), (len(vegan_p)+ len(vegan2_p) + len(vegan3_p)),
                    len(veterinarian_p), len(starbucks_p), len(basketball_court_p)])

In [144]:
geoqueries_melbourne = np.array([len(airports_m), len(commuter_stations_m), len(airport_shuttle_m),
                    (len(schools1_m) + len(schools2_m) + len(schools3_m) + len(schools4_m)), (len(vegan_m)+ len(vegan2_m) + len(vegan3_m)),
                    len(veterinarian_m), len(starbucks_m), len(basketball_court_m)])

In [145]:
geoqueries_saopaulo = np.array([len(airports_sp), len(commuter_stations_sp), len(airport_shuttle_sp),
                    (len(schools1_sp) + len(schools2_sp) + len(schools3_sp)), (len(vegan_sp)+ len(vegan2_sp) + len(vegan3_sp)),
                    len(veterinarian_sp), len(starbucks_sp), len(basketball_court_sp)])

In [146]:
weights = np.array([0.19, 0.18, 0.17, 0.14, 0.12, 0.1, 0.05, 0.05])

In [147]:
score_p = {'Conditions': ['Airports', 'Commuter Station', 'Airport Shuttle', 'Schools', 'Vegan Restaurants', 'Veterinaries', 'Starbucks Cafe', 'Basketball Court'],
           'Weights': [0.19, 0.18, 0.17, 0.14, 0.12, 0.1, 0.05, 0.05],
           'Geoqueries Paris': geoqueries_paris, 'Score Paris': weights * geoqueries_paris,
           'Geoqueries Melbourne': geoqueries_melbourne, 'Score Melbourne': weights * geoqueries_melbourne,
           'Geoqueries Sao Paulo': geoqueries_saopaulo, 'Score Sao Paulo': weights * geoqueries_saopaulo}

In [148]:
score_table = pd.DataFrame(score_p)

In [149]:
suma = score_table.sum()

In [150]:
score_table.append(suma, ignore_index=True)

,Conditions,Weights,Geoqueries Paris,Score Paris,Geoqueries Melbourne,Score Melbourne,Geoqueries Sao Paulo,Score Sao Paulo
0,Airports,0.19,2,0.38,2,0.38,1,0.19
1,Commuter Station,0.18,1,0.18,7,1.26,2,0.36
2,Airport Shuttle,0.17,3,0.51,1,0.17,1,0.17
3,Schools,0.14,8,1.12,1,0.14,1,0.14
4,Vegan Restaurants,0.12,5,0.60,1,0.12,10,1.20
5,Veterinaries,0.10,11,1.10,1,0.10,2,0.20
6,Starbucks Cafe,0.05,5,0.25,7,0.35,0,0.00
7,Basketball Court,0.05,5,0.25,20,1.00,3,0.15
8,AirportsCommuter StationAirport ShuttleSchools...,1.00,40,4.39,40,3.52,20,2.41